.Sidebar {
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: flex-start;
    order: 1;
    flex-grow: .5;

    box-sizing: border-box;

    text-align: center;

    background-color: #333355;
    color: rgb(238, 238, 238);

    height: 100%;
    width: 120px;
}

.sidebar-description {
    color:  #94bcce;
    margin: 20px 0 6px 0;
    text-align: left;
    width: 100%;
    padding-left: 20px;
}

.sidebar-title {
    color:  #bcd2f2;
    padding: 10px 0 10px 0;
    background-color: #7970ae;
    text-align: center;
    font-size: 16pt;
    font-weight: 100;
    width: 100%
}